body {
	background: url(diagonal-squares.png);
	/* background: #d0cbcb; */
	/* background: yellow; */
}
/*#navbar-expand-lgnavbarnavbar-darkbg-dark{

}
*/
#libraryBooks{
	text-align: center;
	color:#FFFFFF;
	font-family: 'Gentium Book Basic', serif;
	letter-spacing: 3px;
	/*background: #d0cbcb;*/
}
li{
	list-style-type: none;
}
img{
	height:100px;
	width:100px;
}

ul {
	background-color: white;
}

.btnColor {
	color: blue;
}
